*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Barra di navigazione */
header{
    background-color: #255ee9;
}

.top-bar{
    padding: 20px 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn{
    border: none;
    border-radius: 30px;
}

.btn-login{
    padding: 10px;
    background-color: #ffff;
}

.btn-active{
    width: 200px;
    font-size: 20px;
    margin: 0 5px;
    padding: 15px 10px;
    background-color: #ffff;
}

.btn-inactive{
    width: 300px;
    font-size: 20px;
    color: #ffff;
    background-color: #23272a;
    margin: 0 5px;
    padding: 15px 10px;
}

.link{
    list-style: none;
    text-align: center;
}

.jumbo-bg{
    background-size: cover;
    background-image: url(../img/jumbo.png);
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;
}

.title{
    font-size: 50px;
    color: #ffff;
}

.description{
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
    padding: 25px 0;
}

li{
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #ffff;
}

img{
    width: 100%;
}

/* Parte caentrale */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg{
    padding: 100px 0;
}

.title-main{
    font-size: 45px;
}

.title-main-bottom{
    font-size: 35px;
    padding-bottom: 40px;
}

.description-main{
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

.section-middle{
    background-color: #ffff;
}

.section-middle-fix{
    background-color: #f6f6f6;
}

.plus{
    color: #ffff;
    background-color: #7289da;
}

.colum-big{
    display: flex;
    width: 60%;
    background-size: cover;
}

.colum-small{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.stars{
    width: 40%;
    position: absolute;
}

.stars-conteiner{
    padding-top: 50px;
}

.wave{
    opacity: 0.04;
}

.flip{
    transform: rotate(180deg);
}

/* Footer */
footer{
    background-color: #23272a;
    padding-top: 80px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    margin: 30px 0;
}

.colum-bigfix{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.colum-smallfix{
    display: flex;
    width: 75%;
}

.block{
    flex-grow: 1;
}

.box{
    height: 500px;
}

.it-icon{
    width: 30px;
    padding: 25px 0;
    vertical-align: middle;
}

.social-icon{
    display: flex;
    font-size: 25px;
    letter-spacing: 20px;
    color: #ffff;
}

.language{
    color: #ffff;
}

.title-footer{
    font-size: 30px;
    color: #7289da
}

.title-footer-list{
    font-weight: 800;
    color: #7289da
}

.footer-ul{
    display: flex;
    flex-direction: column;
}

hr{
    border: 0.5px solid #7289da;
}